html,
body {
  height: 100%;
}

:root {
  --background-color: #92e7af;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  --background-color: #92e7af;
  --header-font-size: 3rem;
  --letter-spacing: 0.2rem;

  flex: 1.5 1.5;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--header-font-size);
  font-weight: bolder;
  color: white;
  letter-spacing: var(--letter-spacing);
}

main {
  --background-color: rgb(224, 224, 224);

  flex: 10 10;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

main > * {
  border: 2px solid red;
}

/*playerupdate*/
main h2 {
  --font-size: 2rem;

  margin: 0;
  flex: 1 1;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--font-size);
}

/*parent container of gameboard*/
main .gameboard-container {
  flex: 8 8;
}

/*parent button-container*/
main .button-container {
  flex: 2.5 2.5;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

main .button-container button {
  --button-font-size: 1.45rem;
  --button-background-color: #92e7af; 
  --button-text-color: white;
  --button-letter-spacing: 0.10rem;

  height: 30%;
  width: 10%; 
  font-size: var(--button-font-size);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 1rem;
  letter-spacing: var(--button-letter-spacing);
}

main .button-container button:hover {
  background-color: #6ddf93;
}